<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
  </head>
  <body>
    <%= render '/header.*' %>
    <section class="container-fluid mt-5 pt-5">
      <div class="row">
        <div class="col-12">
          <%= yield %>
          <%= render '/footer.*' %>
      </div>
    </div>
  </section>
  <script src="<%= @items['/frontend/shared/global_imports.*'].path %>"></script>

  <% if @config[:algolia] == "true" %>
  <script src="<%= @items['/frontend/search/docsearch.*'].path %>"></script>
  <% end %>

  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
